:root {
    --background-color: #fcfffa;
    --accent-color: #cee0dc;
    --light-beige: #eeeae2;
    --light-gray: #f4f4f4;
    --light-green: #dce9d9;
    --light-brown: #b98b7b;
    --deep-beige: #ecdfc4;
    --deep-green: #507472;
    --deep-gray: #A4A19E;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'S-CoreDream-3Light';
    text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
.main-div {
	background-color: var(--background-color);
    padding-top: 120px;
}
.header-div {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: var(--background-color);
}
.header-div div {
    display: flex;
    position: relative;
    width: 850px;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
}
.header-div div a{
	margin-left: 20px;
    text-align: center;
    color: black;
}
.form-control {
	margin: 0 20px;
	min-width: 500px;
}
.logo {
   	width: 60px;
   	margin: 0 10px;
}
.nav-bar {
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;z-index: 100;
    background-color: var(--background-color);
    background: var(--background-color);
}
.nav-bar div {
    display: flex;
    position: relative;
    width: 500px;
    margin: 0 auto;
}
.nav-bar div a {
    flex: 1;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: black;
}
.nav-bar div a:hover {
    color: var(--light-brown);
    text-decoration: none;
}
.nav-bar div > span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 3px;
    background-color: var(--deep-green);
    opacity: 0;
    transition: all .5s;
}
.nav-bar div a:nth-child(1).on ~ span {
    left: 0;
    opacity: 1;
}
.nav-bar div a:nth-child(2).on ~ span {
    left: 100px;
    opacity: 1;
}
.nav-bar div a:nth-child(3).on ~ span {
    left: 200px;
    opacity: 1;
}
.nav-bar div a:nth-child(4).on ~ span {
    left: 300px;
    opacity: 1;
}
.nav-bar div a:nth-child(5).on ~ span {
    left: 400px;
    opacity: 1;
}
.footer-link li {
    padding: 15px 5px 10px 0;
    float: left;
}
.footer-link li a {
    font-size: 12px;
    color: black;
    text-decoration: none;
}
.footer-link li a:hover {
    text-decoration: none;
}
.footer-content li {
    height: 15px;
    font-size: 11px;
}
.footer-content li a {
    font-size: 11px;
    text-decoration: none;
}
.footer-content li a:hover {
    text-decoration: none;
}
.container .popup {
	position: absolute;
	left: 250px;
	top: 120px;
	visibility: visible;
	z-index: 1000;
}
.container .popup table {
	width: 350px;
	height: 200px;
	background: var(--light-green);
	color: var(--light-brown);
	font-size: 12px;
}
.container .popup input {
	color: var(--light-brown);
	background: transparent;
	border: none;
	font-size: 13px;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
	margin-right: 10px;
}
.brand-ad img:hover {
	opacity: 0.9;
}
.brand-ad img {
	padding-top: 50px;
	width: 1100px;
}
.main-div-fullpage {
	background-color: var(--background-color);
}
.header-fullpage {
	position: fixed;
	left: 30px;
    top: 20px;
    z-index: 500;
}
.header-fullpage a {
	font-family: 'Jal_Onuel';
	font-size: 36px;
    color: black;
    text-decoration: none;
    transition: 0.2s;
}
.header-fullpage a:hover {
	font-size: 48px;
	color: black;
    text-decoration: none;
}
.section1 {
	position: relative;
}
.img-fullpage {
	object-fit: cover;
}
.section1 .text-fullpage {
	position: absolute;
	top: 60%;
    left: 10%;
    transform: translate(0%, -50%);
}
.section1 span {
	font-weight: bold;
}
.section2 {
	text-align: center;
}
.section2 .text-fullpage {
	position: absolute;
	top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section2 span {
	font-weight: bold;
}
.section3 {
	text-align: right;
}
.section3 .text-fullpage {
	position: absolute;
	top: 25%;
    left: 50%;
    transform: translate(-10%, -50%);
}
.section3 span {
	font-weight: bold;
}
.interior-ad {
	padding-top: 50px;
}
.category h3 {
	padding-top: 160px;
	text-align: center;
	font-family: 'twayair';
}
.category .small-link {
	margin-left: 20px;
	font-size: 15px;
	color: black;
}
.category .small-link:hover {
	text-decoration: none;
	font-weight: bold;
}
.category-shortcut img {
	width: 100px;
	padding-bottom: 10px;
}
.category-shortcut .shortcut-list-item {
	margin: 50px 30px 0 30px;
	text-align: center;
	cursor: pointer;
}
.category-shortcut .shortcut-list-item a {
	font-size: 18px;
	color: black;
}
.category-shortcut .shortcut-list-item a:hover {
	text-decoration: none;
	font-weight: bold;
}
.interior {
	padding-top: 50px;
}
.interior h3 {
	padding: 130px 0 10px 0;
	text-align: center;
	font-family: 'twayair';
}
.interior .counsel-ad {
	margin: 20px 10px;
	text-align: right;
}
.interior .counsel-ad a {
	font-family: 'twayair';
	font-size: 36px;
    color: var(--deep-gray);
    text-decoration: none;
    transition: 0.2s;
}
.interior .counsel-ad a:hover {
	font-size: 36.5px;
    color: var(--deep-gray);
    text-decoration: none;
}