:root {
    --background-color: #fcfffa;
    --accent-color: #cee0dc;
    --light-beige: #eeeae2;
    --light-gray: #f4f4f4;
    --light-green: #dce9d9;
    --light-brown: #b98b7b;
    --deep-beige: #ecdfc4;
    --deep-green: #507472;
    --deep-gray: #A4A19E;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'S-CoreDream-3Light';
    text-decoration: none;
    list-style: none;
}
body {
	min-width: 1200px;
}
.bodycontents {
	padding: 0;
    margin: 0;
}
.sidebox {
	position:absolute;
	width:65px;
	top:120px;
	right:290px;
}
.sidebox:hover {
	cursor: pointer;
}
.sidebox img {
	width: 65px;
}
.sidebox p {
	text-align: center;
	font-size:13px;
	font-weight: bold;
}
.pane {
	padding: 0;
	margin: 0;
	background-color: var(--background-color);
}
.main-div {
	background-color: var(--background-color);
    padding-top: 120px;
}
.header-div {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: var(--background-color);
}
.header-div div {
    display: flex;
    position: relative;
    width: 850px;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
}
.header-div div a{
	margin-left: 20px;
    text-align: center;
    color: black;
}
.header-div div a:hover{
	text-decoration: none;
	margin-left: 20px;
    text-align: center;
    color: var(--light-brown);
}
.sub-header {
	position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    z-index: 100;
    background-color: var(--background-color);
}
.sub-header div {
	display: flex;
    position: relative;
    width: 350px;
    margin: 0 auto;
}
.sub-header div a{
	margin-left: 20px;
	padding-bottom: 5px;
    text-align: center;
    color: black;
}
.sub-header div a:hover{
	text-decoration: none;
	margin-left: 20px;
    text-align: center;
    color: var(--light-brown);
}
.form-control {
	margin: 0 20px;
	min-width: 500px;
}
.logo {
   	width: 60px;
   	margin: 18px 10px 0 0;
}
.nav-bar {
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;z-index: 100;
    background-color: var(--background-color);
    background: var(--background-color);
}
.nav-bar div {
    display: flex;
    position: relative;
    width: 500px;
    margin: 0 auto;
}
.nav-bar div a {
    flex: 1;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: black;
}
.nav-bar div a:hover {
    color: var(--light-brown);
    text-decoration: none;
}
.nav-bar div > span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 3px;
    background-color: var(--deep-green);
    opacity: 0;
    transition: all .5s;
}
.nav-bar div a:nth-child(1).on ~ span {
    left: 0;
    opacity: 1;
}
.nav-bar div a:nth-child(2).on ~ span {
    left: 100px;
    opacity: 1;
}
.nav-bar div a:nth-child(3).on ~ span {
    left: 200px;
    opacity: 1;
}
.nav-bar div a:nth-child(4).on ~ span {
    left: 300px;
    opacity: 1;
}
.nav-bar div a:nth-child(5).on ~ span {
    left: 400px;
    opacity: 1;
}

.footer-link li {
    padding: 15px 5px 10px 0;
    float: left;
}
.footer-link li a {
    font-size: 12px;
    color: black;
    text-decoration: none;
}
.footer-link li a:hover {
    text-decoration: none;
}
.footer-content li {
    height: 15px;
    font-size: 11px;
}
.footer-content li a {
    font-size: 11px;
    text-decoration: none;
}
.footer-content li a:hover {
    text-decoration: none;
}
.container .popup {
	position: absolute;
	left: 250px;
	top: 120px;
	z-index: 1000;
}
.container .popup table {
	width: 350px;
	height: 200px;
	background: var(--light-green);
	color: var(--light-brown);
	font-size: 12px;
}
.td-popup {
	border: none;
	margin-bottom: auto;
}
.td-popup img {
	cursor: pointer;
}
.container .popup input {
	color: var(--light-brown);
	background: transparent;
	border: none;
	font-size: 13px;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
	margin: 0 10px;
}
.popup td img {
	width: 350px;
}
.brand-ad img:hover {
	opacity: 0.8;
}
.brand-ad img {
	margin-top: 50px;
	width: 1100px;
}
.main-div-fullpage {
	background-color: var(--background-color);
}
.header-fullpage {
	position: fixed;
	left: 30px;
    top: 20px;
    z-index: 500;
}
.header-fullpage a {
	font-family: 'Jal_Onuel';
	font-size: 36px;
    color: black;
    text-decoration: none;
    transition: 0.2s;
}
.header-fullpage a:hover {
	font-size: 48px;
	color: black;
    text-decoration: none;
}
.img-fullpage {
	object-fit: cover;
}
.section1 {
	position: relative;
}
.section1 .text-fullpage {
	position: absolute;
	top: 60%;
    left: 10%;
    transform: translate(0%, -50%);
}
.section1 span {
	font-weight: bold;
}
.section2 {
	text-align: center;
}
.section2 .text-fullpage {
	position: absolute;
	top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section2 span {
	font-weight: bold;
}
.section3 {
	text-align: right;
}
.section3 .text-fullpage {
	position: absolute;
	top: 25%;
    left: 50%;
    transform: translate(-10%, -50%);
}
.section3 span {
	font-weight: bold;
}
.interior-ad {
	padding-top: 50px;
}
.category h3 {
	padding-top: 160px;
	text-align: center;
	font-family: 'twayair';
}
.small-link {
	margin-left: 20px;
	font-size: 15px;
	color: black;
}
.small-link:hover {
	color: var(--light-brown);
	text-decoration: none;
}
.category-shortcut img {
	width: 100px;
	padding-bottom: 10px;
}
.category-shortcut .shortcut-list-item {
	margin: 50px 30px 0 30px;
	text-align: center;
	cursor: pointer;
}
.category-shortcut .shortcut-list-item a {
	font-size: 18px;
	color: black;
}
.category-shortcut .shortcut-list-item a:hover {
	text-decoration: none;
	color: var(--light-brown);
}
.interior {
	padding-top: 50px;
}
.interior h3 {
	padding: 110px 0 10px 0;
	text-align: center;
	font-family: 'twayair';
}
.interior .counsel-ad {
	margin: 20px 10px;
	text-align: right;
}
.interior .counsel-ad a {
	font-family: 'twayair';
	font-size: 36px;
    color: var(--deep-gray);
    text-decoration: none;
    transition: 0.2s;
}
.interior .counsel-ad a:hover {
	font-size: 36.5px;
    color: var(--deep-gray);
    text-decoration: none;
}
.section2 a {
	font-family: 'twayair';
	font-size: 32px;
	color: black;
	text-decoration: none;
    transition: 0.2s;
}
.section2 a:hover {
	font-size: 33px;
    color: black;
    text-decoration: none;
}
.promotion {
	padding-top: 50px;
}
.promotion h3 {
	padding: 130px 0 10px 0;
	text-align: center;
	font-family: 'twayair';
}
.promotion .inner-div {
	padding-top: 60px;
}
.promotion img {
	cursor: pointer;
}
.qna {
	padding-bottom: 30px;
}
.qna h3 {
	padding: 150px 0 20px 0;
	text-align: center;
	font-family: 'twayair';
}
.div-mainqna {
	padding-top: 20px;
}
.div-mainqna h4 {
	padding: 10px 0;
	text-align: center;
	font-size: 20px;
	font-family: 'twayair';
}
.div-boardlist {
	display: flex;
  	justify-content: space-between;
}
.div-boardlist a {
	margin-left: 20px;
	text-decoration: none;
	color: black;
}
.div-boardlist a:hover {
	text-decoration: none;
	color: var(--light-brown);
}
.div-boardlist .font-count {
	padding-left: 10px;
}
.div-board .div-search-box {
	padding: 0;
}
.div-board .div-search .div-search-box .search-box {
	height: 38px;
	width: 120px;
}
.div-board .div-search .col-sm-2 {
	padding: 0 0 0 15px;
}
.div-board .div-search .btn-search {
	padding: 6px 9px;
	height: 38px;
	width: 60px;
}
.div-promo {
	padding : 20px 0;
}
.div-promo h3 {
	text-align: center;
	padding-bottom: 40px;
	font-family: 'twayair';
	font-size: 48px;
}
.div-promo .card {
	width: 100%;
	margin-bottom: 50px;
	cursor: pointer;
	word-break: keep-all;
}
.div-promo .card-title {
	font-family: 'twayair';
}
.div-category {
	padding: 20px 0;
}
.div-category h3 {
	text-align: center;
	padding-bottom: 40px;
	font-family: 'twayair';
	font-size: 48px;
}
.div-category h4 {
	text-align: center;
	font-size: 28px;
}
.div-category .carousel {
	margin: 100px 0 60px 0;
}
.div-category .carousel-inner > .item > img {
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}
.div-category .carousel-item {
  	text-align: center;
}
.div-category .carousel-item img {
  	cursor: pointer;
}
.div-shop .card {
	margin: 20px;
	width: 330px;
	height: 520px;
}
.img-product {
	height: 330px;
}
.div-shop .card:hover {
	opacity: 0.8;
}
.div-shop a {
	color: black;
}
.div-shop a:hover {
	text-decoration: none;
	color: black;
}
.div-shop .div-items {
	margin-top: 25px;
}
.div-shop .dropdown .btn {
	width: 50px;
	margin: 40px 0 0 50px;
	border-color: transparent;
	background-color: transparent;
	color: var(--deep-green);
}
.div-shop .dropdown .btn:hover, .dropdown .btn:focus, .dropdown .btn:active {
	text-decoration: none;
	border-color: transparent;
	background-color: transparent;
	color: var(--deep-green);
}
.div-shop .dropdown .btn:focus .dropdown-menu, .dropdown .btn:active .dropdown-menu {
	text-decoration: none;
	border-color: transparent;
	background-color: transparent;
	color: var(--deep-green);
}
.div-shop .dropdown:hover .dropdown-menu {
    display: block;
    margin: 0 0 0 55px;
    border-color: transparent;
    background-color: var(--light-beige);
}
.div-shop .dropdown-menu a:hover {
    background-color: var(--light-beige);
	font-weight: bold;
	cursor: pointer;
}
.div-shop {
	padding-bottom: 40px;
}
.page-item {
	margin-top: 30px;
}
.page-item a {
	color: var(--light-brown);
}
.page-item a:hover {
	background-color: var(--light-brown);
	color: white;
}
.div-detail {
	padding-top: 50px;
}
.div-itemdetail img {
	width: 500px;
	padding-bottom: 100px;
}
.div-itemdetail {
	padding-top: 50px;
}
.div-itemdetail h3 {
	font-family: 'twayair';
	font-size: 28px;
}
.div-itemdetail h2 {
	padding: 5px 0 0 10px;
	font-family: 'twayair';
	font-size: 40px;
	font-weight: bold;
}
.div-itemdetail h2 span {
	font-family: 'S-CoreDream-3Light';
	font-size: 12px;
	font-weight: normal;
}
.div-itemdetail h5 {
	padding: 5px 0 0 10px;
	font-family: 'twayair';
	font-size: 40px;
	font-weight: bold;
	color: var(--light-brown);
}
.div-itemdetail h5 span {
	font-family: 'S-CoreDream-3Light';
	font-size: 16px;
}
.div-itemdetail h6 {
	padding-left: 10px;
	font-size: 12px;
}
.div-itemdetail h6 span {
	font-weight: bold;
	color: var(--light-brown);
}
.div-itemdetail .div-detail p {
	margin-bottom: 0;
}
.div-itemdetail .div-padding {
	padding-left: 10px;
}
.div-itemdetail .btn1 {
	margin: 30px 15px 30px 0;
	padding: 20px 93px;
	background-color: var(--background-color);
	border-style: solid;
	border-color: var(--light-brown);
	color: var(--light-brown);
	border-radius: 4px;
	
}
.div-itemdetail .btn2 {
	margin: 30px 0 30px 0;
	padding: 20px 93px;
	background-color: var(--light-brown);
	color: white;
	border-style: solid;
	border-color: var(--light-brown);
	border-radius: 4px;
	outline: 0;
}
.div-itemdetail .btn1:hover, .div-itemdetail .btn2:hover,
.div-itemdetail .btn1:focus {
	outline: none;
	filter: brightness(97%);
}
.div-join .div-btn {
	display: flex;
  	justify-content: space-between;
  	padding: 0;
}
.div-join .div-btn .btn {
	margin: 0;
	padding: 4px 8px;
}
.div-join .div-btn .btn:hover {
	border-color: var(--light-brown);
}
.div-form {
	padding-bottom: 50px;
	margin: 0 300px;
}
.div-form h3 {
	text-align: center;
	margin: 20px 0 30px 25px;
	font-family: 'twayair';
	font-size: 28px;
}
.div-form hr {
	margin-left: 30px;
}
.div-form label {
	padding: 10px 0 0 20px;
	font-weight: bold;
}
.div-form .btn {
	margin: 30px 100px 0 140px;
	padding: 20px 80px;
	background-color: var(--light-brown);
	color: white;
	border-style: solid;
	border-color: var(--light-brown);
	border-radius: 4px;
	outline: 0;
}
.div-login .form-group {
	margin: 0;
}
.div-login .div-form h3 {
	text-align: center;
	margin: 100px 0 30px 20px;
	font-family: 'twayair';
	font-size: 28px;
}
.div-login .div-form .btn {
	margin: 30px 100px 0 160px;
	padding: 20px 85px;
	background-color: var(--background-color);
	color: var(--light-brown);
	border-style: solid;
	border-color: var(--light-brown);
	border-radius: 4px;
	outline: 0;
}
.div-login .div-form .btn:hover {
	outline: none;
	background-color: var(--light-brown);
	color: white;
}
.div-login-sub {
	padding: 20px 0 0 20px;
	text-align: center;
}
.div-login-sub a, .div-login-sub a:hover {
	margin: 0 5px;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
	color: black;
}
.div-write .form-control {
	margin: 0;
}
.div-write h3 {
	text-align: center;
	margin: 20px 0 30px 25px;
	font-family: 'twayair';
	font-size: 28px;
}
.div-btn .btn {
	background-color: var(--background-color);
	border-style: solid;
	border-color: var(--light-brown);
	color: var(--light-brown);
	border-radius: 4px;
}
.div-btn .btn:hover {
	outline: none;
	border-color: var(--light-brown);
	background-color: var(--light-brown);
	color: white;
}
.div-btn {
	display: flex;
  	justify-content: space-between;
  	padding: 10px 0 30px 0;
}
.div-board {
	padding-bottom: 50px;
}
.div-board h3 {
	text-align: center;
	margin: 20px 0 30px 25px;
	font-family: 'twayair';
	font-size: 28px;
}
.div-board h4 {
	margin: 20px 0 30px 25px;
	font-size: 14px;
}
.div-board .pagination {
	margin-left: 35px;
}
.div-fullsize {
	min-height: 750px;
	background-color: var(--background-color);
}
.div-board-detail h3 {
	text-align: center;
	margin: 20px 0 30px 25px;
	font-family: 'twayair';
	font-size: 28px;
}
.div-article-info {
	display: flex;
  	justify-content: space-between;
}
.div-article-title h5 {
	font-weight: bold;
	padding: 5px 0;
}
.div-article-content p {
	margin: 0;
	padding: 5px 0;
}
.div-article-padding {
	padding: 0 30px;
}
.div-article-comment {
	padding: 10px 30px;
}
.div-article-comment h6 {
	padding-bottom: 10px;
	font-weight: bold;
}
.div-article-comment textarea {
	margin: 0;
}
.div-article-btn {
	padding-right: 30px;
}
.div-article-btn .btn {
	background-color: var(--background-color);
	border-style: solid;
	border-color: var(--light-brown);
	color: var(--light-brown);
	border-radius: 4px;
}
.div-article-btn .btn:hover {
	outline: none;
	border-color: var(--light-brown);
	background-color: var(--light-brown);
	color: white;
}
.div-board-detail {
	padding-bottom: 20px;
}
.div-comment-box {
	background-color: var(--background-color);
}
.div-cart h3 {
	text-align: center;
	margin: 20px 0 30px 25px;
	font-family: 'twayair';
	font-size: 28px;
}
.div-cart p {
	font-size: 17px;
}
.div-cart .div-btn {
	padding: 10px 40px 10px 0;
}
.div-cart .image-cartItem {
	width: 300px;
	height: 300px;
	margin-left: 30px;
}
.div-cart .btn-outline-light {
	font-weight: bold;
	font-size: 18px;
	margin: 0;
}
.div-cart .div-item-right {
	padding-right: 40px;
}
.div-cart .div-deleteBtn {
	text-align: right;
}
.div-cart .p-itemPrice {
	margin-top: 30px;
	text-align: right;
	padding: 3px 20px;
	font-family: 'twayair';
	font-size: 20px;
}
.div-amount {
	padding: 10px 20px 10px 0;
}
.div-amount h5 {
	text-align: right;
	padding: 3px 20px;
	font-family: 'twayair';
	font-size: 26px;
}
.div-amount h6 {
	text-align: right;
	padding: 3px 20px;
	font-family: 'twayair';
	font-size: 20px;
}
.div-cart .btn-large {
	font-size: 20px;
	padding: 10px 30px;
	margin-bottom: 20px;
}
.div-cart h4 {
	text-align: center;
	padding: 100px 0 0 30px;
	font-size: 26px;
}
.div-cart .div-btn-center {
	text-align: center;
	padding: 60px 0 0 30px;
}
.div-cart .div-btn-center .btn {
	background-color: var(--background-color);
	border-style: solid;
	border-color: var(--light-brown);
	color: var(--light-brown);
	border-radius: 4px;
}
.div-cart .div-btn-center .btn:hover {
	outline: none;
	border-color: var(--light-brown);
	background-color: var(--light-brown);
	color: white;
}
.div-order h3 {
	text-align: center;
	margin: 20px 0 30px 25px;
	font-family: 'twayair';
	font-size: 28px;
}
.div-order h5 {
	padding-top: 50px;
	font-weight: bold;
}
.div-order font {
	padding-top: 50px;
	font-family: 'twayair';
}
.div-order label {
	margin-left: 20px;
}
.div-order img {
	width: 100px;
}
.form-point {
	min-width: 130px;
	max-width: 130px;
}
.payment-form, .coupon-form, .form-point, .p-point {
	margin-top: 10px;
}
.div-order .btn-large {
	font-size: 20px;
	padding: 10px 40px;
	margin-right: 30px;
}
.div-mypage h3 {
	text-align: center;
	margin: 20px 0 30px 25px;
	font-family: 'twayair';
	font-size: 28px;
}
.div-mypage .div-quarter {
	text-align: center;
}
.div-mypage .div-quarter .row {
	margin: 150px 0;
}
.btn-mypage {
	text-decoration: none;
	font-size: 28px;
	color: black;
	font-weight: bold;
}
.btn-mypage:hover {
	text-decoration: none;
	color: var(--light-brown);
}
.btn-mypage font {
	font-size: 15px;
	font-weight: normal;
}
.div-myinfo .btn {
	margin-left: 160px;
	background-color: var(--background-color);
	border-style: solid;
	border-color: var(--light-brown);
	color: var(--light-brown);
	border-radius: 4px;
}
.div-myinfo .btn:hover {
	outline: none;
	border-color: var(--light-brown);
	background-color: var(--light-brown);
	color: white;
}
.div-link-small {
	padding: 0;
	text-align: right;
}
.link-small {
	font-size: 14px;
	text-decoration: none;
	color: var(--light-brown);
}
.link-small:hover {
	cursor: pointer;
	color: var(--light-brown);
}
.div-orderSuccess {
	text-align: center;
	padding: 40px 0 30px 25px;
}
.div-orderSuccess h3 {
	text-align: center;
	padding-bottom: 40px;
	font-family: 'twayair';
	font-size: 36px;
}
.div-orderSuccess p {
	padding: 40px 0;
	font-size: 20px;
}
.div-orderSuccess .btn {
	padding: 10px 20px;
	background-color: var(--background-color);
	border-style: solid;
	border-color: var(--light-brown);
	color: var(--light-brown);
	border-radius: 4px;
}
.div-orderSuccess .btn:hover {
	outline: none;
	border-color: var(--light-brown);
	background-color: var(--light-brown);
	color: white;
}
.div-orderlist h3 {
	text-align: center;
	margin: 20px 0 30px 25px;
	font-family: 'twayair';
	font-size: 28px;
}
.div-orderlist p {
	margin: 0;
	padding: 5px 0;
}
.div-orderlist-col-left {
	margin-left: 40px;
}
.div-orderlist-col-center {
	padding-top: 30px;
}
.div-orderlist-col-right {
	text-align: right;
}
.div-orderlist-col-right .btn {
	padding: 35px 10px;
}
.div-orderlist .btn-large {
	font-size: 20px;
	padding: 10px 30px;
	margin-bottom: 20px;
}
.div-orderlist h4 {
	text-align: center;
	padding: 100px 0 0 30px;
	font-size: 26px;
}
.div-orderlist .div-btn-center {
	text-align: center;
	padding: 60px 0 0 30px;
}
.div-orderlist .div-btn-center .btn {
	background-color: var(--background-color);
	border-style: solid;
	border-color: var(--light-brown);
	color: var(--light-brown);
	border-radius: 4px;
}
.div-orderlist .div-btn-center .btn:hover {
	outline: none;
	border-color: var(--light-brown);
	background-color: var(--light-brown);
	color: white;
}
.div-orderdetail h3 {
	text-align: center;
	margin: 20px 0 30px 25px;
	font-family: 'twayair';
	font-size: 28px;
}
.image-orderdetail {
	width: 100px;
	height: 100px;
	margin: 10px 0;
}
.div-orderdetail .row p {
	padding-top: 40px;
}
.div-orderdetail .div-right {
	text-align: right;
}
.div-orderdetail .div-padding {
	padding: 0 20px;
}
.div-orderdetail .btn {
	background-color: var(--background-color);
	border-style: solid;
	border-color: var(--light-brown);
	color: var(--light-brown);
	border-radius: 4px;
}
.div-orderdetail .btn:hover {
	outline: none;
	border-color: var(--light-brown);
	background-color: var(--light-brown);
	color: white;
}
.div-pointpage h3 {
	text-align: center;
	margin: 20px 0 30px 25px;
	font-family: 'twayair';
	font-size: 28px;
}
.div-pointpage h4 {
	text-align: center;
	padding: 100px 0 0 30px;
	font-size: 26px;
}
.div-pointpage font {
	font-size: 18px;
}
.input-orderpage {
	text-align: right;
	border: 0;
}
